/*
CSS Rules
selector {
	property:value
}
*/

/*Universal Selector*/

* {
	font-family: sans-serif;
	font-size: 16px;
}

body{
	margin:2%;
}

h1 {
	font-size: 30px;
}

#uppercase {
	text-transform:  uppercase;
}

#javascript {
	letter-spacing: 5px;
	/*the letter-spacing property changes the spaces in between characters of a text */
}

h4 {
	letter-spacing: 25px;
}

.languages-list {
	background-color: lightgreen;
}

li[class = "tools-list"]{
	border-style: solid;
	border-width: 2px;
	border-color: blue;
}

/*Adjacent Sibling Selector*/
/*Selector + Selector*/
h2 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;




